# Version Control
.svn

# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
/tags
.netbeans.xml

# Compass/SASS/SCSS
.sass-cache

# Other
node_modules
vendor
composer.lock

/release/
sassdoc
scss-lint-report.xml
config.codekit

/logs/*
!/logs/.gitkeep

docker-compose.override.yml

notes.md

# WordPress.Skeleton
local-config.php
wp
wp-content/mu-plugins/*
!wp-content/mu-plugins/.gitkeep
!wp-content/mu-plugins/add-skeleton-theme-directory.php
!wp-content/mu-plugins/index.php
wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/themes/*
!wp-content/themes/.gitkeep
wp-content/uploads/*
!wp-content/uploads/.gitkeep
