# MySQL
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=password
MYSQL_HOST=mysql

# Mail Catcher
MAILCATCHER_PORT=1025

# Composer
COMPOSER_HOME=/var/www/.composer

# WordPress
WP_DEBUG=0
